{% extends "staffs/base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<h2>利用者一覧</h2>
<a href="{% url 'careusers:new' %}">{% bootstrap_button button_type="button" content="新規登録" %}</a>

{% if object_list %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>利用者名</th>
            <th colspan='2'>標準スケジュール</th>
        </tr>
    </thead>
    <tbody>
    {% for careuser in object_list %}
        <tr>
            <th>{{careuser.id}}</th>
            <th><a href="{% url 'careusers:edit' careuser.id %}">{{careuser.last_name}} {{careuser.first_name}}</a></th>
            <th>
                {% if careuser.defaultschedule_set.all|length > 0 %}
                <table class="table">
                    <tbody>
                        {% for sche in careuser.defaultschedule_set.all %}
                        <tr>
                            <th>{{ sche.id }}</th>
                            <th>{{ sche.get_type_display }}</th>
                            <th>{{ sche.biko }}</th>
                            <th>担当　山田</th>
                            <th><a href="{% url 'careusers:def_sche_update' sche.id %}">{% bootstrap_button button_type="button" content="変更" %}</a></th>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                登録なし
                {% endif %}
            </th>
            <th><a href="{% url 'careusers:def_sche_new' careuser_id=careuser.id %}">{% bootstrap_button button_type="button" content="追加" %}</a></th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>利用者は登録されておりません。</p>
{% endif %}
{% endblock %}