{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock %}
{% block main %}
<div class="container">
    <h4 class="my-5">利用者一覧</h4>
    <div class="my-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 text-end">
                <a href="{% url 'schedules:import' %}" class="btn btn-primary w-100">全利用者分を{{ month }}月の予定に反映</a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-start"><a href="{% url 'careusers:new' %}">{% bootstrap_button button_type="button" content="利用者新規登録" %}</a></div>
            <div class="col-3 text-end">
                <a href="{% url 'schedules:import_next' %}" class="btn btn-primary w-100">全利用者分を{{ next_month }}月の予定に反映</a>
            </div>
        </div>
    </div>
    {% if object_list %}
    <table class="table align-middle text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>利用者名</th>
                <th>追加</th>
                <th colspan='3'>標準スケジュール</th>
                <th>サービス可能スタッフ</th>
                <th>変更</th>
            </tr>
        </thead>
        <tbody>
        {% for careuser in object_list %}
            <tr class="{% if forloop.counter|divisibleby:'2' %}bg_even{% else %}bg_uneven{% endif %}">
                {% if careuser.is_active %}
                    {% if careuser.defaultschedule_set.all|length > 0 %}
                    <td rowspan="{{ careuser.defaultschedule_set.all|length }}">{{careuser.id}}</td>
                    <td rowspan="{{ careuser.defaultschedule_set.all|length }}"><a href="{% url 'careusers:edit' careuser.id %}">{{careuser.last_name}} {{careuser.first_name}}</a></td>
                    <td rowspan="{{ careuser.defaultschedule_set.all|length }}"><a href="{% url 'careusers:def_sche_new' careuser.id %}">{% bootstrap_button button_type="button" content="追加" %}</a></td>
                    {% else %}
                    <td>{{careuser.id}}</td>
                    <td><a href="{% url 'careusers:edit' careuser.id %}">{{careuser.last_name}} {{careuser.first_name}}</a></td>
                    <td><a href="{% url 'careusers:def_sche_new' careuser.id %}">{% bootstrap_button button_type="button" content="追加" %}</a></td>
                    {% endif %}
                    {% if careuser.defaultschedule_set.all|length > 0 %}
                        {% for sche in careuser.defaultschedule_set.all %}
                            {% if forloop.first == False %}
                            <tr class="{% if forloop.parentloop.counter|divisibleby:'2' %}bg_even{% else %}bg_uneven{% endif %}">
                            {% endif %}
                                <td>{{ sche.get_schedule_name }}</td>
                                <td>{{ sche.get_start_time }}{{sche.get_end_time }}</td>
                                <td>{{ sche.service }}{% if sche.peoples > 1 %} × {{ sche.peoples }}名{% endif %}</td>
                                <td>{{ sche.get_schedule_staffs }}</td>
                                <td><a href="{% url 'careusers:def_sche_edit' sche.pk %}">{% bootstrap_button button_type="button" content="変更" %}</a></td>
                                {% if forloop.first == False %}
                            </tr> 
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td colspan="7">登録なし</td>
                    {% endif %}
                {% else %}
                    <td>{{careuser.id}}</td>
                    <td><a href="{% url 'careusers:edit' careuser.id %}">{{careuser.last_name}} {{careuser.first_name}}</a></td>
                    <td colspan="7">利用停止中</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="col mx-auto text-center my-5 lead">利用者は登録されておりません。</div>
    {% endif %}
</div>
{% endblock %}