{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <link rel="stylesheet" href="{% static 'css/careuser_form.css' %}">
    <script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
    <script src="{% static 'js/careuser_form.js' %}"></script>
{% endblock %}
{% block main %}
<h4 class="my-5">利用者登録</h4>
<div class="my-5"><a href="{% url 'careusers:list' %}">{% bootstrap_button button_type="button" size="lg" content="　戻　る　" %}</a></div>
<form method="post">
    {% csrf_token %}
    <div class="row gx-1">
        <div class="col-2">{{ form.last_name | as_crispy_field }}</div>
        <div class="col-2">{{ form.first_name | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-2">{{ form.last_kana | as_crispy_field }}</div>
        <div class="col-2">{{ form.first_kana | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-2">{{ form.short_name | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-1">{{ form.gender | as_crispy_field }}</div>
    </div>
    <div class="row gx-1 ">
        <div class="col-5">{{ form.birthday | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-1">{{ form.user_no | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-1">{{ form.postcode | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-1">{{ form.adr_ken | as_crispy_field }}</div>
        <div class="col-4">{{ form.adr_siku | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-4">{{ form.adr_tyou | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-4">{{ form.adr_bld | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-2">{{ form.tel | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-2">{{ form.phone | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-5">{{ form.startdate | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-6">{{ form.biko | as_crispy_field }}</div>
    </div>
    <div class="row gx-1">
        <div class="col-1">{{ form.is_active | as_crispy_field }}</div>
    </div>
    <div class="row mt-5">
        <div class="col-3">{% bootstrap_button button_type="submit" size="lg" content="　登　録　" %}</div>
    </div>
</form>
{% endblock %}