{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/careuser_list.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container-md">
    <h4 class="m-5">利用者一覧</h4>
    {% if user.is_superuser %}
        <div class="col text-start mx-5"><a href="{% url 'careusers:new' %}">{% bootstrap_button button_type="button" content="利用者新規登録" %}</a></div>
    {% endif %}
    <div class="text-center my-4">
        <a class="mx-4 fs-4 tag scroll_tag_a">あ</a>
        <a class="mx-4 fs-4 tag scroll_tag_ka">か</a>
        <a class="mx-4 fs-4 tag scroll_tag_sa">さ</a>
        <a class="mx-4 fs-4 tag scroll_tag_ta">た</a>
        <a class="mx-4 fs-4 tag scroll_tag_na">な</a>
        <a class="mx-4 fs-4 tag scroll_tag_ha">は</a>
        <a class="mx-4 fs-4 tag scroll_tag_ma">ま</a>
        <a class="mx-4 fs-4 tag scroll_tag_ya">や</a>
        <a class="mx-4 fs-4 tag scroll_tag_ra">ら</a>
        <a class="mx-4 fs-4 tag scroll_tag_wa">わ</a>
    </div>
    {% if object_list %}
    <table class="table align-middle text-center">
        <thead>
            <tr>
                <th>利用者名</th>
                <th>予定追加</th>
                <th colspan='3'>標準スケジュール</th>
                <th>変更</th>
            </tr>
        </thead>
        <tbody>
        {% for careuser in object_list %}
            <tr class="{% if forloop.counter|divisibleby:'2' %}bg_even{% else %}bg_uneven{% endif %}
            {% if careuser.last_kana|slice:':1' in tag_a %} tag_a
            {% elif careuser.last_kana|slice:':1' in tag_ka %} tag_ka
            {% elif careuser.last_kana|slice:':1' in tag_sa %} tag_sa
            {% elif careuser.last_kana|slice:':1' in tag_ta %} tag_ta
            {% elif careuser.last_kana|slice:':1' in tag_na %} tag_na
            {% elif careuser.last_kana|slice:':1' in tag_ha %} tag_ha
            {% elif careuser.last_kana|slice:':1' in tag_ma %} tag_ma
            {% elif careuser.last_kana|slice:':1' in tag_ya %} tag_ya
            {% elif careuser.last_kana|slice:':1' in tag_ra %} tag_ra
            {% elif careuser.last_kana|slice:':1' in tag_wa %} tag_wa
            {% endif %}">
                {% if careuser.is_active %}
                    {% if careuser.defaultschedule_set.all|length > 0 %}
                    <td rowspan="{{ careuser.defaultschedule_set.all|length }}">{% if user.is_superuser %}<a href="{% url 'careusers:edit' careuser.id %}">{{careuser.last_name}} {{careuser.first_name}}</a>{% else %}{{careuser.last_name}} {{careuser.first_name}}{% endif %}</td>
                    <td rowspan="{{ careuser.defaultschedule_set.all|length }}"><a href="{% url 'careusers:def_sche_new' careuser.id %}">{% bootstrap_button button_type="button" content="予定追加" %}</a></td>
                    {% else %}
                    <td>{% if user.is_superuser %}<a href="{% url 'careusers:edit' careuser.id %}">{{careuser.last_name}} {{careuser.first_name}}</a>{% else %}{{careuser.last_name}} {{careuser.first_name}}{% endif %}</td>
                    <td><a href="{% url 'careusers:def_sche_new' careuser.id %}">{% bootstrap_button button_type="button" content="追加" %}</a></td>
                    {% endif %}
                    {% if careuser.defaultschedule_set.all|length > 0 %}
                        {% for sche in careuser.defaultschedule_set.all %}
                            {% if forloop.first == False %}
                            <tr class="{% if forloop.parentloop.counter|divisibleby:'2' %}bg_even{% else %}bg_uneven{% endif %}">
                            {% endif %}
                                <td>{{ sche.get_schedule_name }}</td>
                                <td>{{ sche.get_start_time }}{{sche.get_end_time }}</td>
                                <td>{{ sche.service }}{% if sche.peoples > 1 %} × {{ sche.peoples }}名{% endif %}</td>
                                <td><a href="{% url 'careusers:def_sche_edit' sche.pk %}">{% bootstrap_button button_type="button" content="変更・削除" %}</a></td>
                                {% if forloop.first == False %}
                            </tr> 
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td colspan="7">登録なし</td>
                    {% endif %}
                {% else %}
                    <td>{% if user.is_superuser %}<a href="{% url 'careusers:edit' careuser.id %}">{{careuser.last_name}} {{careuser.first_name}}</a>{% else %}{{careuser.last_name}} {{careuser.first_name}}{% endif %}</td>
                    <td colspan="9">利用停止中</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="col mx-auto text-center my-5 lead">利用者は登録されておりません。</div>
    {% endif %}
</div>
{% endblock %}