{% extends "staffs/base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block main %}
<h2>スケジュール削除</h2>
<a href="{% url 'careusers:list' %}">{% bootstrap_button button_type="button" content="戻る" %}</a>
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <p>以下のスケジュールを削除しますか？</p>
    <table class="table">
        <tbody>
            <tr><th>氏名</th><td>{{ defaultschedule.careuser }}様</td></tr>
            <tr><th>予定</th><td>{{ defaultschedule.get_schedule_name }}</td></tr>
            <tr><th>サービス</th><td>{{ defaultschedule.service }}</td></tr>
            <tr><th>備考</th><td>{{ defaultschedule.biko }}</td></tr>
        </tbody>
    </table>
    {% bootstrap_button button_type="submit" button_class="btn btn-danger" content="削除" %}
</form>
{% endblock %}