{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="utf-8">
    <title>はなアプリ</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'staff/css/style.css' %}">
    {% block extraheader %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand flex-md-row navbar-dark bg-primary bg-gradient">
    <div class="container justify-content-between">
        <a href="{% url 'staffs:top' %}" class="navbar-brand">はなアプリ</a>
        <ul class="navbar-nav mr-md-2">
            {% if user.is_staff %}
            {% endif %}
            {% if user.is_superuser %}
            <li class="nav-item"><a class="nav-link" href="{% url 'careusers:list' %}">利用者情報</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'services:list' %}">サービス管理</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'staffs:list' %}">スタッフ管理</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'staffs:password_change' %}">パスワード変更</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'staffs:logout' %}">ログアウト</a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
</main>
</body>
</html>