{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>はなオンライン</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}?3">
    <meta name="robots" content="noindex, nofollow" /> 
    {% block pre_extraheader %}{% endblock %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extraheader %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md flex-md-row navbar-dark bg-primary bg-gradient fixed-top">
    <div class="container-fluid justify-content-between">
        <a href="{% url 'schedules:todaylist' %}" class="navbar-brand mx-3">はなオンライン</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar" aria-controls="Navber" aria-expanded="true" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-5" id="nav-bar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'schedules:todaylist' %}">予定一覧</a></li>
                {% if user.is_staff %}
                {% if user.kaigo %}
                <li class="nav-item"><a class="nav-link" href="{% url 'schedules:calendar' %}?staff={{user.pk}}">月間カレンダー</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'schedules:calendar' %}">月間カレンダー</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'schedules:thismonthlist' %}">予定作成</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'careusers:list' %}">利用者情報</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'schedules:manage_top_thismonth' %}">各種管理</a></li>
                {% if user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'aggregates:aggregate_top' %}">　集計　</a></li>
                {% endif %}
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'schedules:calendar' %}">月間カレンダー</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'staffs:password_change' %}">パスワード変更</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'staffs:logout' %}">ログアウト</a></li>
            </ul>
        </div>
    </div>
</nav>
<main>
    {% block main %}{% endblock %}
</main>
</body>
</html>