{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
<html>
<head>
    <meta charset="utf-8">
    <title>はなアプリ</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <meta name="robots" content="noindex, nofollow" /> 
    {% block pre_extraheader %}{% endblock %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extraheader %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand flex-md-row navbar-dark bg-primary bg-gradient fixed-top">
    <div class="container justify-content-between">
        <a href="{% url 'schedules:todaylist' %}" class="navbar-brand">はなアプリ</a>
        <ul class="navbar-nav mr-md-2">
            <li class="nav-item"><a class="nav-link" href="{% url 'schedules:todaylist' %}">予定一覧</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'schedules:calendar' %}">月間カレンダー</a></li>
            {% if user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'schedules:thismonthlist' %}">予定作成</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'careusers:list' %}">利用者情報</a></li>
            {% endif %}
            {% if user.is_superuser %}
            <li class="nav-item"><a class="nav-link" href="{% url 'services:list' %}">サービス管理</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'staffs:list' %}">スタッフ管理</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'staffs:password_change' %}">パスワード変更</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'staffs:logout' %}">ログアウト</a></li>
        </ul>
    </div>
</nav>
<main>
    {% block main %}{% endblock %}
</main>
</body>
</html>