{% extends "staffs/base_no_login.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}
{% block main %}
    <div class="container mt-5">
        <div class="float-end my-4"><a href="{% url 'staffs:password_reset' %}">{% bootstrap_button button_type="button" content="パスワードを忘れた方" %}</a></div>
        <h4 class="my-3">ログイン</h4>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}" />
            {{ form.username | as_crispy_field }}
            {{ form.password | as_crispy_field }}
            <div class="text-center my-5">{% bootstrap_button button_type="submit" size="lg" content="　ログイン　" %}</div>
        </form>
    </div>
{% endblock %}