{% extends "staffs/base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block main %}
<div class="container">
    <h4 class="my-5">パスワード変更</h4>
    <div class=my-5><a href="{% url 'schedules:todaylist' %}">{% bootstrap_button button_type="button" content="戻る" %}</a></div>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="text-center my-5">{% bootstrap_button button_type="submit" size="lg" content="　変更　" %}</div>
    </form>
</div>
{% endblock %}