{% extends "staffs/base_no_login.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}
{% block main %}
<div class="container">
    <h4 class="my-5">パスワードのリセット</h4>
    <p>パスワードのリセットが完了しました。</p>
    <div class="text-center my-5"><a href="{% url 'staffs:login' %}">{% bootstrap_button button_type="button" size="lg" content="戻る" %}</a></div>
</div>
 {% endblock %}