{% extends "staffs/base_no_login.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block main %}
        <h2>パスワードのリセット</h2>
        <a href="{% url 'staffs:login'%}">{% bootstrap_button button_type="button" content="戻る" %}</a>
        <p>リセット操作を確認するため、登録されているメールアドレスに確認メールを送信します。</p>
        <p>登録されているメールアドレスを以下に入力してください。</p>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            {% bootstrap_button button_type="submit" content="メールを送信" %}
        </form>
{% endblock %}