{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/staff_form.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/staff_form.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container">
    <h4 class="my-5">スタッフ情報</h4>
    <div class="my-5"><a href="{% url 'staffs:list'%}">{% bootstrap_button button_type="button" size="lg" content="　戻　る　" %}</a></div>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        {% bootstrap_button button_type="submit" size="lg" content="　登　録　" %}
    </form>
</div>
{% endblock %}