{% extends "staffs/base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<h2>スタッフ一覧</h2>
<a href="{% url 'staffs:new'%}">{% bootstrap_button button_type="button" content="新規登録" %}</a>

{% if object_list %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>スタッフ名</th>
        </tr>
    </thead>
    <tbody>
    {% for staff in object_list %}
        <tr>
            <td>{{staff.id}}</td>
            <td><a href="{% url 'staffs:edit' staff.pk%}">{% if not staff.last_name and not staff.first_name %}未入力{% else %}{{staff.last_name}} {{staff.first_name}}{% endif %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>スタッフは登録されておりません。</p>
{% endif %}
{% endblock %}