{% extends "staffs/base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block main %}
<div class="container">
    <h4 class="my-5">スタッフ一覧</h4>
    <a href="{% url 'staffs:new'%}">{% bootstrap_button button_type="button" content="新規登録" %}</a>
    {% if object_list %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>スタッフ名</th>
                <th>資格</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in object_list %}
            <tr>
                <td>{{staff.id}}</td>
                <td><a href="{% url 'staffs:edit' staff.pk%}">{% if not staff.last_name and not staff.first_name %}未入力{% else %}{{staff.last_name}} {{staff.first_name}}{% endif %}</a></td>
                <td>{% if staff.servkan%} サービス提供責任者 {% endif %}
                    {% if staff.caremane %} ケアマネージャー {% endif %}
                    {% if staff.sousien %} 相談支援専門員 {% endif %}
                    {% if staff.servsou %} サービス相談員 {% endif %}
                    {% if staff.kaifuku %} 介護福祉士 {% endif %}
                    {% if staff.jitumu %} 実務者研修 {% endif %}
                    {% if staff.shonin %} 初任者研修 {% endif %}
                    {% if staff.kisoken %} 基礎研修 {% endif %}
                    {% if staff.helper2 %} ホームヘルパー2級 {% endif %}
                    {% if staff.doukou %} 同行援護従業者養成研修 {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="col mx-auto text-center my-5 lead">スタッフは登録されておりません。</div>
    {% endif %}
</div>
{% endblock %}