{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'js/manage_top.js' %}?15"></script>
    <link rel="stylesheet" href="{% static 'css/manage_top.css' %}?7">
{% endblock %}
{% block main %}
<div class="container-md">
    <div class="content">
        {% if scroll %}
        <input type="hidden" id="scroll" value="{{ scroll }}">
        {% endif %}
        {% if user.is_superuser %}
        <div id="manage_area" class="p-5">
            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4"><a href="{% url 'staffs:list' %}">{% bootstrap_button button_type="button" content="　　スタッフ管理　　" %}</a></div>
                <div class="col-4"><a href="{% url 'services:list' %}">{% bootstrap_button button_type="button" content="　　サービス管理　　" %}</a></div>
            </div>
            <div class="row mt-5">
                <div class="col-4">スケジュール生成</div>
                <div class="col-4">
                    {% if disp_import_thismonth %}
                    <a href="{% url 'schedules:import' %}"><button class="btn btn-danger pop_confirm">全利用者分を{{ now_month.month }}月の予定に反映</button></a>
                    {% else %}
                    <button class="btn btn-outline-danger" disabled>{{ now_month.month }}月分は反映済み</button>
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if disp_import_nextmonth %}
                    <a href="{% url 'schedules:import_next' %}"><button class="btn btn-danger pop_confirm">全利用者分を{{ now_nextmonth.month }}月の予定に反映</button></a>
                    {% else %}
                    <button class="btn btn-outline-danger" disabled>{{ now_nextmonth.month }}月分は反映済み</button>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-4">スケジュール公開</div>
                <div class="col-4">
                    {% if disp_showstaff_thismonth %}
                    <a href="{% url 'schedules:monthly_show_allstaff' year=now_month.year month=now_month.month %}"><button class="btn btn-danger pop_confirm">登録ヘルパーに{{ now_month.month }}月の予定公開</button></a>
                    {% else %}
                    <button class="btn btn-outline-danger" disabled>{{ now_month.month }}月分は公開済み</button>
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if disp_showstaff_nextmonth %}
                    <a href="{% url 'schedules:monthly_show_allstaff' year=now_nextmonth.year month=now_nextmonth.month %}"><button class="btn btn-danger pop_confirm">登録ヘルパーに{{ now_nextmonth.month }}月の予定公開</button></a>
                    {% else %}
                    <button class="btn btn-outline-danger" disabled>{{ now_nextmonth.month }}月分は公開済み</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if add_request %}
        <div id="add_request_area" class="p-5 mt-5">
            <h5>予定変更依頼</h5>
            <table class="table align-middle text-center">
                <thead>
                    <tr>
                        <th >送信日時</th>
                        <th>依頼者</th>
                        <th>利用者</th>
                        <th>変更日時</th>
                        <th>サービス内容</th>
                        <th>備考</th>
                        <th>確認済み</th>                    
                    </tr>
                </thead>
                <tbody>
                {% for rq in add_request %}
                    <tr class="{% if forloop.counter|divisibleby:'2' %}bg_even{% else %}bg_uneven{% endif %}">
                        <td class="text-nowrap">{{rq.created_at|date:"n/j H:i"}}</td>
                        <td class="text-nowrap"><a href="{% url 'schedules:dayselectlist' year=rq.start_date.year month=rq.start_date.month day=rq.start_date.day %}?staff={{rq.created_by.pk}}">{{rq.created_by}}</a></td>
                        <td class="text-nowrap">{{rq.careuser_txt}}　様</td>
                        <td class="text-nowrap"><a href="{% url 'schedules:dayselectlist' year=rq.start_date.year month=rq.start_date.month day=rq.start_date.day %}">{{rq.start_date|date:"n月j日 H:i"}}</a></td>
                        <td class="text-nowrap">{{rq.service_txt}}</td>
                        <td>{{rq.biko}}</td>
                        <td class="text-nowrap"><a href="{% url 'schedules:confirmed_add_request' pk=rq.pk %}"><button class="btn btn-danger" type="button pop_confirm">対応済みにする</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div id="print_area" class="p-5">
            <div class="mt-4 py-2">
                <div class="row text-center align-middle my-3">
                    <div class="col-4"><a href="{% url 'schedules:manage_top_monthly' year=before_month.year month=before_month.month %}{% if selected_careuser %}?careuser={{selected_careuser.pk}}{% endif %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　前月　" %}</a></div>
                    <div class="col-4 fs-2">{{this_month|date:'Y'}}年{{this_month|date:'m'}}月</div>
                    <div class="col-4"><a href="{% url 'schedules:manage_top_monthly' year=next_month.year month=next_month.month %}{% if selected_careuser %}?careuser={{selected_careuser.pk}}{% endif %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　翌月　" %}</a></div>
                </div>
            </div>
            <form method="get" action="" name="filter_form" id="search_form">
                <div class="row d-flex align-items-center">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <label for="careuser">利用者名検索</label>
                        <select name="careuser" class="select form-select" id="careuser">
                            <option value=""{% if selected_careuser == "all" %} selected{% endif %}>全体</option>
                            {% for careuser in careuser_obj %}
                            <option value="{{careuser.pk}}"{% if careuser.pk == selected_careuser.pk %} selected{% endif %}>{{ careuser }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>
            <h5>帳票出力</h5>
            {% if this_she_cnt is 0 %}
            <div class="col-12 text-center fs-5 my-3">{{this_month|date:'m'}}月の実績はありません。</div>
            {% endif %}
            {% if selected_careuser %}
            <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-3">
                {% if this_she_cnt %}
                    <div class="text-center"><a href="{% url 'pdfgen:calendar' year=this_month.year month=this_month.month %}{% if selected_careuser %}?careuser={{selected_careuser.pk}}{% endif %}" target="_blank"><button class="btn btn-warning print_btn">{{ this_month.month }}月分カレンダー印刷</button></a></div>
                {% else %}
                    <div class="text-center"><button class="btn btn-warning print_btn" type="button" disabled>{{ this_month.month }}月分カレンダー印刷</button></div>
                {% endif %}
                </div>
                <div class="col-3">
                {% if next_she_cnt %}
                    <div class="text-center"><a href="{% url 'pdfgen:calendar' year=next_month.year month=next_month.month %}{% if selected_careuser %}?careuser={{selected_careuser.pk}}{% endif %}" target="_blank"><button class="btn btn-warning print_btn">{{ next_month.month }}月分カレンダー印刷</button></a></div>
                {% else %}
                    <div class="text-center"><button class="btn btn-warning print_btn" type="button" disabled>{{ next_month.month }}月分カレンダー印刷</button></div>
                {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-3">
                {% if report_is_confirmed_cnt %}
                    <div class="text-center"><a href="{% url 'pdfgen:monthlyreport' year=this_month.year month=this_month.month %}{% if selected_careuser %}?careuser={{selected_careuser.pk}}{% endif %}" target="_blank"><button class="btn btn-primary print_btn">月間実施記録印刷</button></a></div>
                {% else %}
                    <div class="text-center"><button class="btn btn-primary print_btn" type="button" disabled>月間実施記録印刷</button></div>
                {% endif %}
                    <div class="text-center">{% if report_not_confirmed_cnt %}実施記録未入力 <span class="text-danger">{{ report_not_confirmed_cnt }}件</span>{% endif %}</div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-3">
                {% if this_she_cnt %}
                    <div class="text-center"><a href="{% url 'pdfgen:viditedlistform' year=this_month.year month=this_month.month %}{% if selected_careuser %}?careuser={{selected_careuser.pk}}{% endif %}" target="_blank"><button class="btn btn-primary print_btn">{{ this_month.month }}月分訪問記録票印刷</button></a></div>
                {% else %}
                    <div class="text-center"><button class="btn btn-primary print_btn" type="button" disabled>{{ this_month.month }}月分訪問記録票印刷</button></div>
                {% endif %}
                </div>
                <div class="col-3">
                {% if next_she_cnt %}
                    <div class="text-center"><a href="{% url 'pdfgen:viditedlistform' year=next_month.year month=next_month.month %}{% if selected_careuser %}?careuser={{selected_careuser.pk}}{% endif %}" target="_blank"><button class="btn btn-primary print_btn">{{ next_month.month }}月分訪問記録票印刷</button></a></div>
                {% else %}
                    <div class="text-center"><button class="btn btn-primary print_btn" type="button" disabled>{{ next_month.month }}月分訪問記録票印刷</button></div>
                {% endif %}
                </div>
            </div>
        </div>
        {% if error_list %}
        <div id="errors_area" class="p-5">
            <h5>エラーリスト</h5>
            <table class="table align-middle text-center">
                <thead>
                    <tr>
                        <th colspan="5"></th>
                        <th colspan="3" class=" text-end"><input type="checkbox" class="checkboxinput form-check-input" id="show_allerrors" {% if show_allerrors%} checked{% endif %}>確認済みもすべて表示</th>
                    </tr>
                    <tr>
                        <th class="text-nowrap">確認OK</th>
                        <th class="text-nowrap" colspan="2">日時</th>
                        <th class="text-nowrap">利用者</th>
                        <th class="text-nowrap">スタッフ</th>
                        <th class="text-nowrap">サービス内容</th>
                        <th class="text-nowrap">エラー内容</th>
                        <th class="text-nowrap">変更</th> 
                        <th class="text-nowrap">実施記録</th>
                    </tr>
                </thead>
                <tbody>
                {% for schedule in error_list %}
                <tr class="{% if forloop.counter|divisibleby:'2' %}bg_even{% else %}bg_uneven{% endif %}">
                    <td rowspan="2" class="text-nowrap">{% if schedule.report.error_code == 0 and schedule.report.careuser_confirmed %}{% if schedule.report.error_warn_allowed %}<button class="btn btn-outline-primary" type="button" disabled>確認済</button>{% else %}<a href="{{send_url}}warn_allow={{schedule.report.pk}}"><button class="btn btn-danger checked_btn" type="button">確認OK</button></a>{% endif %}{% else %}<button class="btn btn-outline-danger" type="button" disabled>要訂正</button>{% endif %}</td>
                    <td>実績</td>
                    <td class="text-nowrap">{%if schedule.report.careuser_confirmed is False%}実績未確定{% else %}{{ schedule.report.service_in_date|date:"j日G:i" }}～{% if schedule.report.service_in_date|date:"j" != schedule.report.service_out_date|date:"j"%}{{ schedule.report.service_out_date|date:"j日G:i" }}{% else %}{{ schedule.report.service_out_date|date:"G:i" }}{% endif %}{% endif %}</td>
                    <td class="text-nowrap" rowspan="2">{{ schedule.careuser }}</td>
                    <td class="text-nowrap"rowspan="2">{% if schedule.peoples > 1 %}[{{ schedule.peoples }}名]{% endif %}{{ schedule.staffs_and_trainer }}</td>
                    <td class="text-nowrap"rowspan="2">[{{schedule.service.kind}}]{{ schedule.service.title }}</td>
                    <td rowspan="2" class="text-start">{%if schedule.report.careuser_confirmed is False%}<span class="text-danger">実績未入力</span>
                                    {% else %}
                                    {% if schedule.report.error_code > 0 %}<span class="{% if schedule.report.error_warn_allowed%}text-body{% else %}text-danger{% endif %}">[要訂正]　{{ schedule.report.get_error_code_display }}</span>{% endif %}
                                    {%if schedule.report.warnings != "" %}{% if schedule.report.error_code > 0 %}<br>{% endif %}<span class="{% if schedule.report.error_warn_allowed%}text-body{% else %}text-primary{% endif %}">[要確認]　{{ schedule.report.warnings }}</span>{% endif %}
                                    {% endif %}
                                    {% if schedule.report.communicate %}<br>[連絡事項]{{schedule.report.communicate}}{% endif %}
                                    {% if schedule.biko %}<br>[予定備考欄]{{schedule.biko}}{% endif %}
                    </td>
                    <td class="text-nowrap" rowspan="2"><a href="{% url 'schedules:edit' schedule.pk %}"><button class="btn btn-primary schedule_edit_btn" type="button">変更</button></a></td>
                    {% if schedule.report.careuser_confirmed is False %}
                    {% if not schedule.staff1 %}
                    <td class="text-nowrap" rowspan="2"><button class="btn btn-danger report_btn" type="button" disabled>未確定</button></td>
                    {% else %}
                    <td class="text-nowrap" rowspan="2"><a href="{% url 'schedules:report' schedule.report.pk %}"><button class="btn btn-danger report_btn" type="button">未確定</button></a></td>
                    {% endif %}                    
                    {% else %}
                    <td class="text-nowrap" rowspan="2"><a href="{% url 'schedules:report_detail' schedule.report.pk %}"><button class="btn btn-outline-primary report_btn" type="button">記録</button></a></td>
                    {% endif %}
                </tr>
                <tr class="{% if forloop.counter|divisibleby:'2' %}bg_even{% else %}bg_uneven{% endif %}">
                    <td>予定</td>
                    <td class="text-nowrap">{{ schedule.start_date|date:"j日G:i" }}～{{ schedule.end_date|date:"G:i" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}