{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/report_form.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/report_form.js' %}"></script>
{% endblock %}
{% block main %}
<div class="content container-lg">
    <div class="my-5">
        <a href="{% url 'schedules:dailylist' year=schedule_data.schedule.start_date|date:'Y'|add:'0' month=schedule_data.schedule.start_date|date:'m'|add:'0' day=schedule_data.schedule.start_date|date:'d'|add:'0' %}">{% bootstrap_button button_type="button" content=" 戻 る " %}</a>
    </div>
    <h4 class="m-3">サービス実施記録</h4>
    <form method="post">
        {% csrf_token %}
        <div id="sche_conf" class="mx-auto p-3">
            {% if user.is_staff and disp_lock %}
                <div>{{form.locked.label}}{{ form.locked | as_crispy_field }}</div>
            {% endif %}
            <div class="row my-3">
                <div class="col-4 d-flex justify-content-center align-items-center">お名前</div>
                <div class="col-8 align-middle fs-4">{{schedule_data.schedule.careuser}} 様</div>
            </div>
            <div class="row my-3">
                <div class="col-4 d-flex justify-content-center align-items-center">担当ヘルパー</div>
                <div class="col-8 fs-4">
                    {% if schedule_data.schedule.peoples is 1 %}
                    {{schedule_data.schedule.staff1}}
                    {% elif schedule_data.schedule.peoples is 2 %}
                    {{schedule_data.schedule.staff1}}　{{schedule_data.schedule.staff2}}
                    {% elif schedule_data.schedule.peoples is 3 %}
                    {{schedule_data.schedule.staff1}}　{{schedule_data.schedule.staff2}}　{{schedule_data.schedule.staff3}}
                    {% elif schedule_data.schedule.peoples is 4 %}
                    {{schedule_data.schedule.staff1}}　{{schedule_data.schedule.staff2}}　{{schedule_data.schedule.staff3}}　{{schedule_data.schedule.staff4}}
                    {% endif %}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4 d-flex justify-content-center align-items-center">実施日</div>
                <div class="col-8 fs-5">{{schedule_data.schedule.start_date|date:"Y年m月d日"}}</div>
            </div>
            <div class="row my-3">
                <div class="col-4 d-flex justify-content-center align-items-center">サービス内容</div>
                <div class="col-8 fs-5">{{schedule_data.schedule.service}}</div>
            </div>
            <div class="row my-3">
                <div class="col-4"></div>
                <div class="col-2 text-end">{{form.first.label}}</div>
                <div class="col-1 text-start">{{ form.first | as_crispy_field }}</div>
                <div class="col-2 text-end">{{form.emergency.label}}</div>
                <div class="col-1 text-start">{{ form.emergency | as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6">開始時間</div>
                <div class="col-6">終了時間</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form.service_in_date | as_crispy_field }}</div>
                <div class="col-6">{{ form.service_out_date | as_crispy_field }}</div>
            </div>
        </div>
        <div id="pre_check" class="mx-auto p-3">
            <h5>事前チェック</h5>
            <div class="row">
                <div class="col-5">{{ form.face_color.label }}</div>
                <div class="col-7">{{ form.body_temp.label }}</div>
            </div>
            <div class="row">
                <div class="col-5">{{ form.face_color | as_crispy_field }}</div>
                <div class="col-7 body_temp">{{ form.body_temp | as_crispy_field }}<div class="bar">℃</div></div>
            </div>
            <div class="row mt-3">
                <div class="col-5">{{ form.hakkan.label }}</div>
                <div class="col-7">血圧</div>
            </div>
            <div class="row">
                <div class="col-5">{{ form.hakkan | as_crispy_field }}</div>
                <div class="col-7 blood_pre">{{ form.blood_pre_h | as_crispy_field }}<div class="bar">/</div>{{ form.blood_pre_l | as_crispy_field }}</div>
            </div>
        </div>
        <div id="physical_care" class="mx-auto p-3">
            <h5>排泄介助</h5>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.toilet | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.toilet.label }}</div>
                <div class="col-1 text-end px-0">{{ form.p_toilet | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.p_toilet.label }}</div>
                <div class="col-1 text-end px-0">{{ form.Diapers | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.Diapers.label }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.Pads | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.Pads.label }}</div>
                <div class="col-1 text-end px-0">{{ form.linen | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.linen.label }}</div>
                <div class="col-1 text-end px-0">{{ form.inbu | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.inbu.label }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.nyouki | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.nyouki.label }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-3 text-end px-0">{{ form.urination_t.label }}</div>
                <div class="col-3 text-start px-1 urination_t">{{ form.urination_t | as_crispy_field }}<div class="bar">回</div></div>
                <div class="col-3 text-end px-0">{{ form.urination_a.label }}</div>
                <div class="col-3 text-start px-1 urination_a">{{ form.urination_a | as_crispy_field }}<div class="bar">㏄</div></div>
            </div>
            <div class="row mb-4">
                <div class="col-3 text-end px-0">{{ form.defecation_t.label }}</div>
                <div class="col-3 text-start px-1 defecation_t">{{ form.defecation_t | as_crispy_field }}<div class="bar">回</div></div>
                <div class="col-3 text-end px-0">{{ form.defecation_s.label }}</div>
                <div class="col-3 text-start px-1 defecation_a">{{ form.defecation_s | as_crispy_field }}</div>
            </div>
            <h5>食事介助</h5>
            <div class="row mt-3">
                <div class="col-5"></div>
                <div class="col-5">{{ form.eating.label }}</div>
            </div>
            <div class="row">
                <div class="col-1 text-end px-0">{{ form.posture | as_crispy_field }}</div>
                <div class="col-4 text-start px-1">{{ form.posture.label }}</div>
                <div class="col-5">{{ form.eating | as_crispy_field }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-5">{{ form.eat_a.label }}</div>
                <div class="col-5">{{ form.drink_a.label }}</div>
            </div>
            <div class="row mb-4">
                <div class="col-5 eat_a">{{ form.eat_a | as_crispy_field }}<div class="bar">％</div></div>
                <div class="col-5 drink_a">{{ form.drink_a | as_crispy_field }}<div class="bar">㏄</div></div>
            </div>
            <h5>清拭入浴</h5>
            <div class="row mt-3">
                <div class="col-6">{{ form.bedbath.label }}</div>
                <div class="col-6">{{ form.bath.label }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form.bedbath | as_crispy_field }}</div>
                <div class="col-6">{{ form.bath | as_crispy_field }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.wash_hair | as_crispy_field }}</div>
                <div class="col-4 text-start px-1">{{ form.wash_hair.label }}</div>
             </div>
            <h5>身体整容</h5>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.wash_face | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.wash_face.label }}</div>
                <div class="col-1 text-end px-0">{{ form.wash_mouse | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.wash_mouse.label }}</div>
                <div class="col-1 text-end px-0">{{ form.change_cloth | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.change_cloth.label }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.makeup_nail | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.makeup_nail.label }}</div>
                <div class="col-1 text-end px-0">{{ form.makeup_ear | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.makeup_ear.label }}</div>
                <div class="col-1 text-end px-0">{{ form.makeup_beard | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.makeup_beard.label }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.makeup_hair | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.makeup_hair.label }}</div>
                <div class="col-1 text-end px-0">{{ form.makeup_face | as_crispy_field }}</div>
                <div class="col-4 text-start px-1">{{ form.makeup_face.label }}</div>
            </div>
            <h5>移動</h5>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.change_pos | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.change_pos.label }}</div>
                <div class="col-1 text-end px-0">{{ form.movetransfer | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.movetransfer.label }}</div>
                <div class="col-1 text-end px-0">{{ form.move | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.move.label }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.gotohospital | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.gotohospital.label }}</div>
                <div class="col-1 text-end px-0">{{ form.gotoshopping | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.gotoshopping.label }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.readytomove | as_crispy_field }}</div>
                <div class="col-4 text-start px-1">{{ form.readytomove.label }}</div>
                <div class="col-1 text-end px-0">{{ form.readytocome | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.readytocome.label }}</div>
            </div>
            <h5>起床就寝</h5>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.wakeup | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.wakeup.label }}</div>
                <div class="col-1 text-end px-0">{{ form.goingtobed | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.goingtobed.label }}</div>
            </div>
            <h5>服薬</h5>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.medicine | as_crispy_field }}</div>
                <div class="col-4 text-start px-1">{{ form.medicine.label }}</div>
                <div class="col-1 text-end px-0">{{ form.medicine_app | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.medicine_app.label }}</div>
                <div class="col-1 text-end px-0">{{ form.eye_drops | as_crispy_field }}</div>
                <div class="col-2 text-start px-1">{{ form.eye_drops.label }}</div>
            </div>
            <h5>その他</h5>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.in_hospital | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.in_hospital.label }}</div>
                <div class="col-1 text-end px-0">{{ form.watch_over | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.watch_over.label }}</div>
            </div>
            <h5>自立支援</h5>
            <div class="row mt-3">
                <div class="col-8">{{ form.jir_together.label }}</div>
            </div>
            <div class="row">
                <div class="col-8">{{ form.jir_together | as_crispy_field }}</div>
                <div class="col-1 text-end px-0">{{ form.jir_shopping | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.jir_shopping.label }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.jir_memory | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.jir_memory.label }}</div>
                <div class="col-1 text-end px-0">{{ form.jir_call_out | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.jir_call_out.label }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.jir_motivate | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.jir_motivate.label }}</div>
            </div>
        </div>
        <div id="life_support" class="mx-auto p-3">
            <h5>清掃</h5>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.cl_room | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_room.label }}</div>
                <div class="col-1 text-end px-0">{{ form.cl_toilet | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_toilet.label }}</div>
                <div class="col-1 text-end px-0">{{ form.cl_table | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_table.label }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.cl_kitchen | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_kitchen.label }}</div>
                <div class="col-1 text-end px-0">{{ form.cl_bath | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_bath.label }}</div>
                <div class="col-1 text-end px-0">{{ form.cl_p_toilet | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_p_toilet.label }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.cl_bedroom | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_bedroom.label }}</div>
                <div class="col-1 text-end px-0">{{ form.cl_hall | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_hall.label }}</div>
                <div class="col-1 text-end px-0">{{ form.cl_front | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_front.label }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.cl_trush | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cl_trush.label }}</div>
            </div>
            <h5>洗濯</h5>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.washing | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.washing.label }}</div>
                <div class="col-1 text-end px-0">{{ form.wash_dry | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.wash_dry.label }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.wash_inbox | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.wash_inbox.label }}</div>
                <div class="col-1 text-end px-0">{{ form.wash_iron | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.wash_iron.label }}</div>
            </div>
            <h5>寝具</h5>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.bed_change | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.bed_change.label }}</div>
                <div class="col-1 text-end px-0">{{ form.bed_making | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.bed_making.label }}</div>
            </div>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.bed_dry | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.bed_dry.label }}</div>
            </div>
            <h5>衣類</h5>
            <div class="row my-3">
                <div class="col-1 text-end px-0">{{ form.cloth_sort | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.cloth_sort.label }}</div>
                <div class="col-1 text-end px-0">{{ form.cloth_repair | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.cloth_repair.label }}</div>
            </div>
            <h5>調理</h5>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.cooking | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cooking.label }}</div>
                <div class="col-1 text-end px-0">{{ form.cook_lower | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cook_lower.label }}</div>
                <div class="col-1 text-end px-0">{{ form.cook_prepare | as_crispy_field }}</div>
                <div class="col-3 text-start px-1">{{ form.cook_prepare.label }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-12">{{ form.cook_menu.label }}</div>
            </div>
            <div class="row">
                <div class="col-12">{{ form.cook_menu | as_crispy_field }}</div>
            </div>
            <h5>買物等</h5>
            <div class="row mt-3">
                <div class="col-1 text-end px-0">{{ form.daily_shop | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.daily_shop.label }}</div>
                <div class="col-1 text-end px-0">{{ form.Receive_mad | as_crispy_field }}</div>
                <div class="col-5 text-start px-1">{{ form.Receive_mad.label }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-3">{{ form.deposit.label }}</div>
                <div class="col-1 px-0"></div>
                <div class="col-3">{{ form.payment.label }}</div>
                <div class="col-1 px-0"></div>
                <div class="col-3">おつり</div>
            </div>
            <div class="row">
                <div class="col-3">{{ form.deposit | as_crispy_field }}</div>
                <div class="col-1 px-0 text-center">－</div>
                <div class="col-3">{{ form.payment | as_crispy_field }}</div>
                <div class="col-1 px-0 text-center">＝</div>
                <div class="col-3" id="otsuri">0 円</div>
            </div>

        </div>
        <div id="biko" class="mx-auto p-3">
            <div class="row my-3">
                <h5>特記・連絡事項</h5>
                <div class="col-12">{{ form.biko | as_crispy_field }}</div>
            </div>
        </div>
        <div id="after_check" class="mx-auto p-3">
            <h5>退室確認</h5>
            <div class="row mt-3">
                <div class="col-3 px-0 text-center">{{ form.after_fire.label }}</div>
                <div class="col-3 px-0 text-center">{{ form.after_elec.label }}</div>
                <div class="col-3 px-0 text-center">{{ form.after_water.label }}</div>
                <div class="col-3 px-0 text-center">{{ form.after_close.label }}</div>
            </div>
            <div class="row">
                <div class="col-3 px-0 text-center">{{ form.after_fire | as_crispy_field }}</div>
                <div class="col-3 px-0 text-center">{{ form.after_elec | as_crispy_field }}</div>
                <div class="col-3 px-0 text-center">{{ form.after_water | as_crispy_field }}</div>
                <div class="col-3 px-0 text-center">{{ form.after_close | as_crispy_field }}</div>
            </div>
        </div>
        <div id="reg" class="mx-auto text-center my-4">
            <div class="col-12 my-3 text-danger">登録後は変更不可となります。入力に誤りがないかよくご確認の上、ボタンを押してください。</div>
            <div class="col-12">{% bootstrap_button button_type="submit" size="lg" content="　登　録　" %}</div>
        </div>
    </form>
    <div class="my-5">
        <a href="{% url 'schedules:dailylist' year=schedule_data.schedule.start_date|date:'Y'|add:'0' month=schedule_data.schedule.start_date|date:'m'|add:'0' day=schedule_data.schedule.start_date|date:'d'|add:'0' %}">{% bootstrap_button button_type="button" content=" 戻 る " %}</a>
    </div>
</div>
{% endblock %}