{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
<script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
<script src="{% static 'js/schedule_form.js' %}"></script>
{% endblock %}

{% block main %}
<h2>予定登録</h2>
<div class="my-5"><a href="{{request.META.HTTP_REFERER}}">{% bootstrap_button button_type="button" content="戻る" %}</a></div>
<form method="post">
    {% csrf_token %}
    <div class="row my-3">
        <div class="col-2">{{ form.careuser | as_crispy_field }}</div>
    </div>
    <div class="row my-3">
        <div class="col-3">{{ form.start_date | as_crispy_field }}</div>
    </div>
    <div class="row my-3">
        <div class="col-3">{{ form.service | as_crispy_field }}</div>
        <div class="col-2">{{ form.peoples | as_crispy_field }}</div>
    </div>
    <div class="row my-3 g-1">
        <div class="col-2">{{ form.staff1 | as_crispy_field }}</div>
        <div class="col-2">{{ form.staff2 | as_crispy_field }}</div>
        <div class="col-2">{{ form.staff3 | as_crispy_field }}</div>
        <div class="col-2">{{ form.staff4 | as_crispy_field }}</div>
    </div>
    <div class="row my-3 g-1">
        <div class="col-2">{{ form.tr_staff1 | as_crispy_field }}</div>
        <div class="col-2">{{ form.tr_staff2 | as_crispy_field }}</div>
        <div class="col-2">{{ form.tr_staff3 | as_crispy_field }}</div>
        <div class="col-2">{{ form.tr_staff4 | as_crispy_field }}</div>
    </div>
    <div class="row mt-4">
        <div class="col-6">{{ form.biko | as_crispy_field }}</div>
    </div>
    <div class="row mt-5">
        <div class="col-3">{% bootstrap_button button_type="submit" size="lg" content=" 登録 " %}</div>
    </div>
</form>
{% endblock %}