{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block pre_extraheader %}
    <script src="{% static 'js/popper.min.js' %}"></script>
{% endblock %}
{% block extraheader %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'js/schedule_list.js' %}?14"></script>
    <link rel="stylesheet" href="{% static 'css/schedule_list.css' %}?7">
{% endblock %}
{% block main %}
<div class="container-md">
    <div class="fixed-top page_ctrl py-2">
        <div class="row text-center align-middle my-3">
            <div class="col-4">
                <a href="{% url 'schedules:monthlylist' year=before_month.year month=before_month.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　前月　" %}</a>
            </div>
            <div class="col-4 fs-2">{{this_month.year}}年{{this_month.month}}月</div>
            <div class="col-4">
                <a href="{% url 'schedules:monthlylist' year=next_month.year month=next_month.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　翌月　" %}</a>
            </div>
        </div>
        <form method="get" action="" name="filter_form" id="search_form">
        <div class="row d-flex align-items-center">
            <div class="col-3 px-5 text-end"><a href="{% url 'schedules:new'%}">{% bootstrap_button button_type="button" content="新規登録" %}</a></div>
            <div class="col-3">
                <label for="careuser">利用者名検索</label>
                <select name="careuser" class="select form-select" id="careuser">
                    <option value=""{% if selected_careuser is None %} selected{% endif %}>---------</option>
                    {% for careuser in careuser_obj %}
                    <option value="{{careuser.pk}}"{% if careuser.pk == selected_careuser.pk %} selected{% endif %}>{{ careuser }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <label for="staff">スタッフ名検索</label>
                <select name="staff" class="select form-select" id="staff">
                    <option value=""{% if selected_staff is None %} selected{% endif %}>---------</option>
                    {% for staff in staff_obj %}
                    <option value="{{staff.pk}}"{% if staff.pk == selected_staff.pk %} selected{% endif %}>{{ staff }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row d-flex align-items-end pt-2">
            <div class="col-6"></div>
            <div class="col-3">
                <label for="staff">サービス種別検索</label>
                <select name="service_kind" class="select form-select" id="service_kind">
                    <option value=""{% if selected_service_kind is None %} selected{% endif %}>---------</option>
                    {% for kind,name in service_kind_obj.items %}
                    <option value="{{ kind }}"{% if kind == selected_service_kind %} selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <a href="{% url 'schedules:monthlycalendar' year=this_month.year month=this_month.month %}{% if selected_careuser or selected_staff %}?{% if selected_careuser %}careuser={{selected_careuser.pk}}{% elif selected_staff %}staff={{selected_staff.pk}}{% endif %}{% endif %}">{% bootstrap_button button_type="button" button_class="btn-primary" content="カレンダー表示" %}</a>
            </div>
        </div>
        </form>
    </div>
    <div class="content">
    {% if object_list %}
        <table class="table align-middle text-center">
            <thead>
                <tr>
                    <th>日</th>
                    <th>時</th>
                    <th>利用者</th>
                    <th>スタッフ</th>
                    <th>変更</th>
                    <th>サービス内容</th>
                    <th>実施記録</th>
                </tr>
            </thead>
            <tbody>
        {% regroup object_list by start_date|date:"j日(D)" as object_list_by_day %}
        {% for day in object_list_by_day %}
            <tr class="{% if forloop.counter|divisibleby:'2' %}bg_even{% else %}bg_uneven{% endif %}">
                <td{% if day.list|length > 1 %} rowspan="{{ day.list|length }}"{% endif %}{% if anchor_day and day.grouper == anchor_day %} id="anchor"{% endif %}>{{ day.grouper }}</td>
            {% for schedule in day.list %}
            {% if forloop.first == False %}
            <tr class="{% if forloop.parentloop.counter|divisibleby:'2' %}bg_even{% else %}bg_uneven{% endif %}">
            {% endif %}
                <td>{{ schedule.start_date|date:"G:i" }}～{{ schedule.end_date|date:"G:i" }}</td>
                <td{% if schedule.careuser_check_level == 2 %} class="table-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="未選択"{% elif schedule.careuser_check_level == 3 %} class="table-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="時間重複"{% endif %}>{% if schedule.def_sche_id == None %}[追加] {% endif %}{{ schedule.careuser }}</td>
                <td{% if schedule.staff_check_level == 2 %} class="table-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="未選択"{% elif schedule.staff_check_level == 3 %} class="table-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="時間重複"{% endif %}>{% if schedule.peoples > 1 %}[{{ schedule.peoples }}名]{% endif %}{{ schedule.staffs_and_trainer }}</td>
                {% if schedule.careuser.is_active is True %}
                <td><a href="{% url 'schedules:edit' schedule.pk %}"><button class="btn btn-primary schedule_edit_btn" type="button">変更</button></a></td>
                {% else %}
                <td>利用停止</td>
                {% endif %}
                <td>{% if schedule.service.kind == 0 %}介護 {% elif schedule.service.kind == 1 %}障害 {% endif %}{{ schedule.service.title }}</td>
                {% if schedule.cancel_flg %}
                <td><button class="btn btn-outline-dark report_btn" disabled>キャンセル</button></td>
                {% elif schedule.start_date > time_now %}
                <td><button class="btn btn-outline-primary report_btn" disabled>未実施</button></td>
                {% elif schedule.report.careuser_confirmed is False %}
                <td><a href="{% url 'schedules:report' schedule.report.pk %}"><button class="btn btn-danger report_btn" type="button">未入力</button></a></td>
                {% else %}
                <td><a href="{% url 'schedules:report_detail' schedule.report.pk %}"><button class="btn btn-outline-primary report_btn" type="button">記録確認</button></a></td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="col mx-auto text-center my-5 lead">スケジュールは登録されておりません。</div>
    {% endif %}
    </div>
</div>
{% endblock %}