{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/schedule_form.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/schedule_form.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container">
    <h4 class="my-5">予定登録</h4>
    <div class="row my-5">
        <div class="col-6">
    {% if request.session.from %}
            <a href="{{request.session.from}}">{% bootstrap_button button_type="button" content="　戻る　" %}</a>
    {% elif object.start_date %}
            <a href="{% url 'schedules:dayselectlist' year=start_date.year month=start_date.month day=start_date.day %}">{% bootstrap_button button_type="button" content="　戻る　" %}</a>
    {% else%}
            <a href="{{request.META.HTTP_REFERER}}">{% bootstrap_button button_type="button" content="　戻る　" %}</a>
    {% endif %}
        </div>
    {% if object.pk and object.def_sche is None or object.pk and user.is_superuser %}
        <div class="col-6">
            <a class="btn btn-danger" href="{% url 'schedules:delete' schedule.pk %}">　削除　</a>
        </div>
    {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        {% if not object.pk %}
        <div class="col-3">
            <select name="careuser" class="select form-select" id="careuser">
                <option value=""{% if selected_careuser is None %} selected{% endif %}>---------</option>
                {% for careuser in careuser_obj %}
                <option value="{{careuser.pk}}"{% if careuser.pk == selected_careuser.pk %} selected{% endif %}>{{ careuser }}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <div class="row mt-5">
            <div class="col-6 mt-5">
                <div id="div_id_careuser" class="mb-3 fs-5">利用者名 : {{ object.careuser }}</div>                
                {{ form.careuser.as_hidden }}
            </div>
            <div class="col-6 update_info">
                {% if updated_at %}
                <div class="col-12">最終更新日 : {{ updated_at }}</div>
                <div class="col-12">最終更新者 : {{ created_by }}</div>
                {% else %}
                <div class="col-12">新規登録日 : {{ created_at }}</div>
                {% if created_by %}
                <div class="col-12">新規登録者 : {{ created_by }}</div>
                {% else %}
                <div class="col-12">新規登録者 : システム登録</div>
                {% endif %}
                {% endif%}
            </div>
        </div>
        {% endif %}
        <div class="col-5 my-3 g-1">{{ form.start_date | as_crispy_field }}</div>
        {% if report_obj %}
        <div class="mt-3 mb-5">
            <div class="col text-primary">実績　<span class="fs-5">{{ report_obj.service_in_date }} ~ {{ report_obj.service_out_date }}</span></div>
            {% if report_obj.error_code > 0 %}<div class="col fs-5 mt-3 text-danger">{{ report_obj.get_error_code_display }}</div>{% endif %}
            {% if report_obj.warnings != "" and not report_obj.error_warn_allowed %}<div class="col fs-5 mt-3 text-primary">{{ report_obj.warnings }}</div>{% endif %}
            <div class="mt-4{% if report_obj.communicate|length %} text-primary{% endif %}">サービス実施者からの連絡事項</div>        
            <div class="col-6">{% if report_obj.communicate|length %}<textarea name="report_biko" cols="40" rows="10" class="textarea form-control" readonly>{{ report_obj.communicate }}</textarea>{% else %}　なし{% endif %}</div> 
        </div>
        {% endif %}  
        <div class="row my-3">
            <div class="col-5">{{ form.service | as_crispy_field }}</div>
            <div class="col-2">{{ form.peoples | as_crispy_field }}</div>
        </div>
        <div class="row my-3 g-1">
            <div class="col-2">{{ form.staff1 | as_crispy_field }}</div>
            <div class="col-2">{{ form.staff2 | as_crispy_field }}</div>
            <div class="col-2">{{ form.staff3 | as_crispy_field }}</div>
            <div class="col-2">{{ form.staff4 | as_crispy_field }}</div>
        </div>
        <div class="row my-3 g-1">
            <div class="col-2">{{ form.tr_staff1 | as_crispy_field }}</div>
            <div class="col-2">{{ form.tr_staff2 | as_crispy_field }}</div>
            <div class="col-2">{{ form.tr_staff3 | as_crispy_field }}</div>
            <div class="col-2">{{ form.tr_staff4 | as_crispy_field }}</div>
        </div>
        {% if schedule.start_date %}
        <div class="row mt-4">
            <div class="col-3">{{ form.cancel_flg | as_crispy_field }}</div>
            <div class="col-6">※キャンセル理由を下記備考欄に入力願います。<br>※上記の担当スタッフ・研修スタッフ情報はリセットされます。</div>
        </div>
        {% endif %}
        <div class="col-6 mt-4">{{ form.biko | as_crispy_field }}</div>
        <div class="col-5 text-center mt-5">{% bootstrap_button button_type="submit" size="lg" content="　登　録　" %}</div>
    </form>
</div>
{% endblock %}