{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/schedule_calendar.css' %}?3">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/schedule_calendar.js' %}?6"></script>
{% endblock %}
{% block main %}
<div class="container-fluid">
    <div class="fixed-top page_ctrl">
        <div class="d-flex flex-row text-center">
            <div class="col-4 py-2"><h4 class="px-3 py-2 fs-5">{% if selected_careuser is not None %}{{ selected_careuser }} 様 月間スケジュール{% elif selected_staff is None %}月間スケジュール（全体）{% else %}{{ selected_staff.get_full_name }} 様 月間スケジュール{% endif %}</h4></div>
            <div class="col-4 fs-2 py-2">{{ month_current | date:"Y年m月" }}</div>
            <div class="col-4 px-5 py-3"><a href="{% url 'pdfgen:calendar' year=month_current|date:'Y'|add:'0' month=month_current|date:'m'|add:'0' %}" target="_blank">{% bootstrap_button button_type="button" button_class="btn-warning print_btn" content="　印刷　" %}</a></div>
        </div>
        <form method="get" action="" name="filter_form" id="search_form">
        <div class="row d-flex align-items-end my-1">
            <div class="col-3 text-center">
                <a href="{% url 'schedules:monthlycalendar' year=month_previous.year month=month_previous.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　前月　" %}</a>
            </div>
            {% if user.is_staff %}
            <div class="col-3">
                <label for="staff">スタッフ名検索</label>
                <select name="staff" class="select form-select" id="staff">
                    <option value=""{% if selected_staff is None %} selected{% endif %}>---------</option>
                    {% for staff in staff_obj %}
                    <option value="{{staff.pk}}"{% if staff.pk == selected_staff.pk %} selected{% endif %}>{{ staff.get_full_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <label for="careuser">利用者名検索</label>
                <select name="careuser" class="select form-select" id="careuser">
                    <option value=""{% if selected_careuser is None %} selected{% endif %}>---------</option>
                    {% for careuser in careuser_obj %}
                    <option value="{{careuser.pk}}"{% if careuser.pk == selected_careuser.pk %} selected{% endif %}>{{ careuser }}</option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <div class="col-6 text-center"></div>
            {% endif %}
            <div class="col-3 text-center">
                <a href="{% url 'schedules:monthlycalendar' year=month_next.year month=month_next.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　翌月　" %}</a>
            </div>
        </div>
    </div>
    <div class="content">
        <table class="table">
            <thead>
            <tr>
                {% for w in week_names %}
                    <th{% if forloop.first %} class="red"{% elif forloop.last %} class="blue"{% endif %}>{{ w }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for week_day_schedules in month_day_schedules %}
                    <tr>
                    {% for day, schedules in week_day_schedules.items %}
                        {% if now == day %}
                            {% if user.is_staff %}
                            <td class="td_day table-success"{% if selected_careuser is None and selected_staff is None %} id="anchor"{% endif %} href="{% url 'schedules:dayselectlist' year=day|date:'Y'|add:'0' month=day|date:'m'|add:'0' day=day|date:'d'|add:'0' %}">
                            {% else %}
                            <td class="td_day table-success" href="{% url 'schedules:dailylist' year=day|date:'Y'|add:'0' month=day|date:'m'|add:'0' day=day|date:'d'|add:'0' %}">
                            {% endif %}
                        {% else %}
                            {% if user.is_staff %}
                            <td class="td_day" href="{% url 'schedules:dayselectlist' year=day|date:'Y'|add:'0' month=day|date:'m'|add:'0' day=day|date:'d'|add:'0' %}">
                            {% else %}
                            <td class="td_day" href="{% url 'schedules:dailylist' year=day|date:'Y'|add:'0' month=day|date:'m'|add:'0' day=day|date:'d'|add:'0' %}">
                            {% endif %}
                        {% endif %}
                            <div class="lead mb-4 day{% if day|date:'Y/n/j' in holidays or forloop.first %} holiday{% elif forloop.last %} saturday{% endif %}">
                            {% if month_current.month != day.month %}
                                {{ day | date:"m/d" }}
                            {% else %}
                                {{ day.day }}
                            {% endif %}
                            </div>
                            {% for schedule in schedules %}
                            <div class="d-lg-flex my-1">
                                <div class="container-fluid">
                                <div class="row">
                                    <div class="d-flex col-xl time-area">
                                        <div class="carestart text-nowrap">{{ schedule.start_date|date:"G:i" }}</div>
                                        <div class="care- text-nowrap">-</div>
                                        <div class="careend text-nowrap">{{ schedule.end_date|date:"G:i" }}</div>
                                    </div>
                                    {% if selected_careuser is not None and selected_staff is None %}
                                    <div class="px-1  col-xl">
                                        {% if schedule.cancel_flg %}
                                        <span class="text-primary">Cancel</span>
                                        {% else %}
                                            {% if schedule.peoples == 1 %}
                                                {% if schedule.staff1 is not None %}{{ schedule.staff1.get_short_name }}{% else %}<span class="text-danger">未定</span>{% endif %}
                                            {% elif schedule.peoples == 2 %}
                                                {% if schedule.staff1 is not None %}{{ schedule.staff1.get_short_name }}{% else %}<span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff2 is not None %} {{ schedule.staff2.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                            {% elif schedule.peoples == 3 %}
                                                {% if schedule.staff1 is not None %}{{ schedule.staff1.get_short_name }}{% else %}<span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff2 is not None %} {{ schedule.staff2.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff3 is not None %} {{ schedule.staff3.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                            {% elif schedule.peoples == 4 %}
                                                {% if schedule.staff1 is not None %}{{ schedule.staff1.get_short_name }}{% else %}<span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff2 is not None %} {{ schedule.staff2.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff3 is not None %} {{ schedule.staff3.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff3 is not None %} {{ schedule.staff3.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% elif selected_careuser is None and selected_staff is not None %}
                                    <div class="px-1 col-xl">{{ schedule.careuser.get_short_name }}</div>
                                    {% else %}
                                    <div class="px-1 col-xl">
                                        {{ schedule.careuser.get_short_name }}
                                        {% if schedule.cancel_flg %}
                                        <span class="text-primary">Cancel</span>
                                        {% else %}
                                            {% if schedule.peoples == 1 %}
                                                {% if schedule.staff1 is not None %}{{ schedule.staff1.get_short_name }}{% else %}<span class="text-danger">未定</span>{% endif %}
                                            {% elif schedule.peoples == 2 %}
                                                {% if schedule.staff1 is not None %}{{ schedule.staff1.get_short_name }}{% else %}<span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff2 is not None %} {{ schedule.staff2.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                            {% elif schedule.peoples == 3 %}
                                                {% if schedule.staff1 is not None %}{{ schedule.staff1.get_short_name }}{% else %}<span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff2 is not None %} {{ schedule.staff2.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff3 is not None %} {{ schedule.staff3.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                            {% elif schedule.peoples == 4 %}
                                                {% if schedule.staff1 is not None %}{{ schedule.staff1.get_short_name }}{% else %}<span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff2 is not None %} {{ schedule.staff2.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff3 is not None %} {{ schedule.staff3.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                                {% if schedule.staff3 is not None %} {{ schedule.staff3.get_short_name }}{% else %} <span class="text-danger">未定</span>{% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}