{% extends "staff/base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<h2>スケジュール一覧</h2>
<a href="">{% bootstrap_button button_type="button" content="新規登録" %}</a>

{% if defschedules %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>スケジュール</th>
            <th>編集</th>
        </tr>
    </thead>
    <tbody>
    {% for defschedule in defschedules %}
        <tr>
            <th>{{defschedule.id}}</th>
            <th></a></th>
            <th><a href="">{% bootstrap_button button_type="button" content="変更" %}</a></th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>現在、スケジュールは登録されておりません。</p>
{% endif %}
{% endblock %}