#div_id_birthday{
    width:100%;
}
#div_id_birthday label{
    display:block;
}
#div_id_birthday select{
    display:inline-block;
}
#div_id_birthday #id_birthday_year{
    width:50%;
}
#div_id_birthday #id_birthday_month{
    width:22%;
}
#div_id_birthday #id_birthday_day{
    width:28%;
}

#div_id_startdate{
    width:100%;
}
#div_id_startdate label{
    display:block;
}
#div_id_startdate select{
    display:inline-block;
}
#div_id_startdate #id_startdate_year{
    width:50%;
}
#div_id_startdate #id_startdate_month{
    width:22%;
}
#div_id_startdate #id_startdate_day{
    width:28%;
}