.content{
    position: relative;
    background-color:#fff;
    padding-bottom:80px;
}
#div_id_service_in_date,#div_id_service_out_date{
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}
#sche_conf,#pre_check,#destination,#biko,#after_check{
    background-color: #FFFFEE;
}
#physical_care{
    background-color: #FFFAFA;
}
#life_support{
    background-color: #EEFFFF;
}

div.blood_pre div,div.body_temp div{
    display: inline;
}
#div_id_blood_pre_h,#div_id_blood_pre_l{
    width:45%;
    display:inline-block;
}
#div_id_body_temp{
    width:75%;
    display:inline-block;
    margin-right:0;
    padding-right:0;
}
div.bar{
    margin:0;
    padding:0; 
}
div.urination_t div,div.defecation_t div{
    display: inline;
}
#div_id_urination_t,#div_id_defecation_t{
    width:60%;
    display:inline-block;
    margin-right:0;
    padding-right:0;
}
div.eat_a div,div.drink_a div{
    display: inline;
}
#div_id_eat_a,#div_id_drink_a{
    width:75%;
    display:inline-block;
    margin-right:0;
    padding-right:0;
}
#id_in_time_main,#id_in_time_sub,#id_body_temp,#blood_pre_h,#blood_pre_l,
#id_urination_t,#id_defecation_t,#id_eat_a,#id_drink_a,
#id_deposit,#id_payment{
    text-align:right;
}
#label_deposit,#label_payment{
    margin-bottom:2px !important;
}
#id_deposit,#id_payment{
    padding-left:3px !important;
    padding-right:3px !important;
}
.add_invalid_feedback{
    display: block;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}