.content{
    position: relative;
    background-color:#fff;
    padding-bottom:80px;
}
#sche_conf,#pre_check,#biko,#after_check{
    background-color: #FFFFEE;
}
#physical_care{
    background-color: #FFFAFA;
}
#life_support{
    background-color: #EEFFFF;
}
