table {
    table-layout: fixed;
}
th.red,td div.holiday{
    color:#DC143C;
}
th.blue,td div.saturday{
    color:#003399;
}
th.red{
    border-bottom-color:#212529!important;
}
th.blue{
    border-bottom-color:#212529!important;
}
td{
    width:12%;
    height:120px;
    min-height:120px;
}
td div.day{
    text-align:left;
    height:20px;
}
td div.sche_table{
    display:table;
    width:100%;
}
td div.sche_row{
    display:table-row;
    font-size:90%;
}
td a,td a:visited,td a:hover,td a:active{
    color:inherit;
    text-decoration:none;
}
td div.carestart{
    display:table-cell;
    text-align:right;
    width:28%;
    margin:5px;
    margin-right:0;
    padding:0;
}
td div.care-{
    display:table-cell;
    width:4%;
    margin:0;
    padding:0;
}
td div.careend{
    display:table-cell;
    text-align:left;
    width:28%;
    margin:5px;
    margin-left:0;
    padding:0;
}
td div.carename{
    display:table-cell;
    text-align:left;
    width:40%;
    margin:5px;
    padding:0;
}
a .a_to_dayly{
    width:100%;
    height:100%;
    display:block;
}
