.page_ctrl{
    position: fixed;
    top:60px;
    background-color:#fff;
}
.content{
    position: relative;
    top: 210px;
    padding-bottom:80px;
}
.schedule_edit_btn{
    width:70px;
}
.report_btn{
    width:90px;
}
