.page_ctrl{
    position: fixed;
    top: 50px;
    background-color:#fff;
    z-index:1000;
}
.content{
    position: relative;
    top: 150px;
    padding-bottom:80px;
}
table {
    table-layout: fixed;
}
th.red,td div.holiday{
    color:#DC143C;
}
th.blue,td div.saturday{
    color:#003399;
}
th.red{
    border-bottom-color:#212529!important;
}
th.blue{
    border-bottom-color:#212529!important;
}
td{
    width:12%;
    height:120px;
    min-height:120px;
}
td div.day{
    text-align:left;
    height:20px;
}
td a,td a:visited,td a:hover,td a:active{
    color:inherit;
    text-decoration:none;
}
td div.carestart{
    text-align:right;
    width:40px;
}
td div.care-{
    text-align:center;
    width:10px;
}
td div.careend{
    text-align:left;
    width:40px;
}
a .a_to_dayly{
    width:100%;
    height:100%;
    display:block;
}
