#div_id_birthday{
    width:100%;
}
#div_id_birthday label{
    display:block;
}
#div_id_birthday select{
    display:inline-block;
}
#div_id_birthday #id_birthday_year{
    width:50%;
}
#div_id_birthday #id_birthday_month{
    width:22%;
}
#div_id_birthday #id_birthday_day{
    width:28%;
}

#div_id_join{
    width:100%;
}
#div_id_join label{
    display:block;
}
#div_id_join select{
    display:inline-block;
}
#div_id_join #id_join_year{
    width:50%;
}
#div_id_join #id_join_month{
    width:22%;
}
#div_id_join #id_join_day{
    width:28%;
}