{% extends "staffs/base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block main %}
<div class="container">
    <h4 class="my-5">サービス一覧</h4>
    <div class="my-5"><a href="{{request.session.from}}">{% bootstrap_button button_type="button" content="　戻 る　" %}</a></div>
    <div class="my-1"><a href="{% url 'services:new'%}">{% bootstrap_button button_type="button" content="新規登録" %}</a></div>
    {% if object_list %}
    <table class="table">
        <thead>
            <tr>
                <th>保険</th>
                <th>サービス名称</th>
                <th>合計時間数</th>
                <th>サービス混合</th>
                <th>現行</th>

                {% comment %}
                <th>保険</th>
                <th>請求名称</th>
                <th>利用者様用名称</th>
                <th>サービス名称</th>
                <th>合計時間数</th>
                <th>内訳時間メイン</th>
                <th>内訳時間サブ</th>
                <th>身体・生活混合</th>
                <th>最低時間メイン</th>
                <th>最低時間サブ</th>
                <th>行先入力必須</th>
                <th>現行</th>
                {% endcomment %}
            </tr>
        </thead>
        <tbody>
        {% for service in object_list %}
            <tr>
                <td>{{service.get_kind_display}}</td>
                <td><a href="{% url 'services:edit' service.pk%}">{{service.title}}</a></td>
                <td>{{service.time}}分</td>
                <td>{% if service.mix_items %}混合{% endif %}</td>
                <td>{% if service.is_active %}〇{% endif %}</td>
                
                {% comment %}
                <td>{{service.get_kind_display}}</td>
                <td>{{service.bill_title}}</td>
                <td>{{service.user_title}}</td>
                <td><a href="{% url 'services:edit' service.pk%}">{{service.title}}</a></td>
                <td>{{service.time}}分</td>
                <td>内訳 {{service.in_time}}分</td>
                <td>内訳 {{service.in_time_sub}}分</td>
                <td>{% if service.mix_items %}混合{% endif %}</td>
                <td>最低 {{service.min_time}}分</td>
                <td>最低 {{service.min_time_sub}}分</td>
                <td>{% if service.destination %}移動{% endif %}</td>
                <td>{% if service.is_active %}〇{% endif %}</td>
                {% endcomment%}
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="col mx-auto text-center my-5 lead">サービスは登録されておりません。</div>
    {% endif %}
</div>
{% endblock %}