{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <link rel="stylesheet" href="{% static 'css/aggregate_top.css' %}?1">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container-md">
    <h5 class="mt-5">請求</h5>
    <div class="row mt-4">
        <div class="col-12">
        <a href="{% url 'aggregates:invoice_kaigo'  year=time_now.year month=time_now.month %}"><button class="btn btn-primary kind_btn">介護保険</button></a>
        <a href="{% url 'aggregates:invoice_sougou' year=time_now.year month=time_now.month %}"><button class="btn btn-primary kind_btn">総合事業</button></a>
        <a href="{% url 'aggregates:invoice' kind="1-0" year=time_now.year month=time_now.month %}"><button class="btn btn-primary kind_btn">障害(居宅)</button></a>
        <a href="{% url 'aggregates:invoice' kind="1-1" year=time_now.year month=time_now.month %}"><button class="btn btn-primary kind_btn">障害(重度)</button></a>
        <a href="{% url 'aggregates:invoice' kind="4" year=time_now.year month=time_now.month %}"><button class="btn btn-primary kind_btn">障害(同行援護)</button></a>
        <a href="{% url 'aggregates:invoice' kind="2" year=time_now.year month=time_now.month %}"><button class="btn btn-primary kind_btn">移動支援</button></a>
        <a href="{% url 'aggregates:invoice' kind="5" year=time_now.year month=time_now.month %}"><button class="btn btn-primary kind_btn">自　費</button></a>
    </div>
    <h5 class="mt-5">給与計算</h5>
    <div class="row mt-4">
        <div class="col-2"><a href="{% url 'aggregates:salary_employee'  year=time_now.year month=time_now.month %}"><button class="btn btn-primary kind_btn">社員</button></a></div>
        <div class="col-2"><a href="{% url 'aggregates:commission_employee'  year=time_now.year month=time_now.month %}"><button class="btn btn-primary kind_btn">登録</button></a></div>
    </div>
</div>
{% endblock %}