{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container-md">
    <div class="col-4 my-5"><a href="{% url 'aggregates:aggregate_top' %}">{% bootstrap_button button_type="button" content="　戻る　" %}</a></div>
    <h5>総合事業</h5>
    <div class="row text-center align-middle mt-5">
        <div class="col-4">
            <a href="{% url 'aggregates:invoice_sougou' year=before_month.year month=before_month.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　前月　" %}</a>
        </div>
        <div class="col-4 fs-2">{{this_month.year}}年{{this_month.month}}月</div>
        <div class="col-4">
            <a href="{% url 'aggregates:invoice_sougou' year=next_month.year month=next_month.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　翌月　" %}</a>
        </div>
    </div>
    <div class="col-4 my-4"><a href="{% url 'aggregates:sougou_export' year=this_month.year month=this_month.month %}"><button class="btn btn-primary">CSVダウンロード</button></a></div>
    <div class="result_list mt-5">
    {% for cu,sches in careuser.items %}
        <div class="row my-4">
            <div class="col-4">{{cu}}</div>
            <div class="col-8">
            {% for sche in sches %}
                <div class="row">
                    <div class="col-4">{{ sche.service }}{% if sche.night %}(夜){% elif sche.midnight %}(深夜){% endif %}{% if sche.peoples > 1 %} <{{sche.peoples}}人>{% endif %}</div>
                    <div class="col-4">{{ sche.in_time }} ～ {{ sche.out_time }}</div>
                    <div class="col-4">
                        {% for day in sche.date %}
                            {{ day }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>   
    {% endfor %} 
    </div>
</div>
{% endblock %}