{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container-md">
    <div class="col-4 my-5"><a href="{% url 'aggregates:aggregate_top' %}">{% bootstrap_button button_type="button" content="　戻る　" %}</a></div>
    <h5>{% if kind == "1-0" %}障害(居宅){% elif kind == "1-1" %}障害(重度){% elif kind == "2" %}移動支援{% elif kind == "4" %}同行援護{% elif kind == "5" %}自費{% endif %}</h5>
    <div class="row text-center align-middle mt-5">
        <div class="col-4">
            <a href="{% url 'aggregates:invoice' kind=kind year=before_month.year month=before_month.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　前月　" %}</a>
        </div>
        <div class="col-4 fs-2">{{this_month.year}}年{{this_month.month}}月</div>
        <div class="col-4">
            <a href="{% url 'aggregates:invoice' kind=kind year=next_month.year month=next_month.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　翌月　" %}</a>
        </div>
    </div>
    {% if data %}
    <div class="col-4 my-4"><a href="{% url 'aggregates:invoice_export' kind=kind year=this_month.year month=this_month.month %}"><button class="btn btn-primary">CSVダウンロード</button></a></div>
    <div class="result_list mt-5">
        <div class="row my-4">
            {% for careuser,data in data.items %}
            <div class="row mt-4">
                <div class="col-2">{{ careuser }}</div>
                <div class="col-10">
                    {% for sche in data %}
                    <div class="row">                            
                        <div class="col-4">{{ sche.service }}{% if sche.peoples > 1 %} <{{sche.peoples}}人>{% endif %}{% if sche.adding %}<span class="text-danger">(合算)</span>{% endif %}</div>
                        <div class="col-1 text-end">{{ sche.in_day }}日</div>
                        <div class="col-2 text-end">{{ sche.in_time }}～{{ sche.out_time }}</div>
                        <div class="col-2">{%if sche.staff1 %}{{sche.staff1}}{% endif %}{%if sche.staff2 %} {{sche.staff2}}{% endif %}{%if sche.staff3 %} {{sche.staff3}}{% endif %}{%if sche.staff4 %} {{sche.staff4}}{% endif %}</div>
                        <div class="col-3">{%if sche.error %}<span class="text-danger">{{sche.error}}</span>{% endif %}{%if sche.warnings %} <span class="text-primary">{{sche.warnings}}</span>{% endif %}</div>
                    </div>
                    {% endfor %}
                </div>                    
            </div>
            {% endfor %}
        </div>   
    </div>
    {% else %}
    <div class="col-12 mt-5 fs-5 text-center">実績なし</div>
    {% endif %}
</div>
{% endblock %}