{% extends "staffs/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extraheader %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container-md">
    <div class="col-4 my-5"><a href="{% url 'aggregates:aggregate_top' %}">{% bootstrap_button button_type="button" content="　戻る　" %}</a></div>
    <h5>勤務時間一覧ダウンロード</h5>
    <div class="row text-center align-middle mt-5">
        <div class="col-4">
            <a href="{% url 'aggregates:worktime' year=before_month.year month=before_month.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　前月　" %}</a>
        </div>
        <div class="col-4 fs-2">{{this_month.year}}年{{this_month.month}}月</div>
        <div class="col-4">
            <a href="{% url 'aggregates:worktime' year=next_month.year month=next_month.month %}">{% bootstrap_button button_type="button" button_class="btn-primary month_btn" content="　翌月　" %}</a>
        </div>
    </div>
    <div class="col-12 mt-5 text-center"><a href="{% url 'aggregates:worktime_export' year=this_month.year month=this_month.month %}" target="_blank">{% bootstrap_button button_type="button" button_class="btn-warning print_btn" content="　出力　" %}</a></div>
</div>
{% endblock %}